#g1{
	background-color: #DCDCDC;
	text-align: center;
	width: 55%;
	height: 80px;
	float: left;
}
#g2{
	background-color: #DCDCDC;
	width: 15%;
	height: 80px;
	float: left;
}
#g3{
	background-color: #DCDCDC;
	width: 15%;
	height: 80px;
	float: left;
}
#g4{
	background-color: #DCDCDC;
	width: 15%;
	height: 80px;
	float: left;
}
#s1{
	background-color: #808080;
	width: 30%;
	height: 450px;
	float: left;
}
#s2{
	background-color: #808080;
	width: 70%;
	height: 450px;
	float: right;
}
footer{
	background-color: #DCDCDC;
	text-align: center;
}
body{
	font-family: Verdana;
	color: #2F2F2F;
}
h5{
	color: #808080;
	border: 1px solid #808080;
	font-size: 80%;
	margin: 7px;
	padding: 10px;
}
